@import "tailwindcss";

/* THEME COLORS & FONTS */
:root {
  --bg: #3e513c;
  --text: #ebcdcd;
  --accent: #b4b49f;

  --font-header: "Playfair Display", serif;
  --font-body: "Tenor Sans", sans-serif;
  --font-script: "Parisienne", cursive;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

/* Floating petals animation */
@keyframes petals {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.petal {
  position: absolute;
  animation: petals 10s linear infinite;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
